@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

[primeira] {
    display: block;
    padding-bottom: 35px;
}

.logo2 {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo2 img {
    padding-right: 65px;
}

[segunda] {
    padding: 35px;
    background-color: white;
}
.logo1 {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo1 img {
    padding-left: 65px;
}

[texto2]  {
    padding-bottom: 100px;
    color: darkslateblue;
}

